* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.rain {
    height: 120px;
    position: fixed;
    top: -1vh;
    border-radius: 0 0 999px 999px;
    transform: translateY(0);
    animation: fall 5s linear forwards infinite;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}